[Unit]
Description=RTCM Base Station Web Service
After=network.target
#StopWhenUnneeded=true

[Service]
ExecStart=/usr/bin/node /home/pi/gps-station/index.js
Restart=always
RestartSec=1 #restart after 1 second
#User=nobody
#User=root

# Note RHEL/Fedora uses 'nobody', Debian/Ubuntu uses 'nogroup'
#Group=nogroup  
Environment=PATH=/usr/bin:/usr/local/bin:/sbin
Environment=NODE_ENV=production
WorkingDirectory=/home/pi/gps-station


[Install]
WantedBy=multi-user.target