[Unit]
Description=RTCM Base Station @%i
After=network.target
StopWhenUnneeded=true

[Service]
Type=simple
Restart=always
RestartSec=10
ExecStart=/usr/local/bin/str2str -in serial://%i:115200:8:n:1:off -out ntrips://:6n9c2TxqKwuc@rtk2go.com:2101/Wexford


[Install]
WantedBy=multi-user.target